.houseMain {
  margin: 0 80px;
}

.collapse {
  width: 100%;
}

.houseHeader {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
}

.houseError {
  color: #ff6060;
  font-size: 40px;
  font-weight: 500;
  width: 100%;
  position: absolute;
  top: 400%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.houseError button {
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ff6060;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.houseError button:hover {
  transform: scale(105%);
}

.houseTitle {
  color: #ff6060;
  font-size: 30px;
}

.houseLocation {
  color: #ff6060;
  margin-top: 5px;
  font-weight: 500;
}

.houseCollapse {
  display: flex;
  width: 100%;

  gap: 2rem;
  margin-bottom: 40px;
}

.equipmentsContent {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .houseMain {
    margin: 0 20px;
  }

  .houseHeader {
    flex-direction: column;
  }

  .houseTitle {
    font-size: 18px;
  }

  .houseCollapse {
    flex-direction: column;
  }
}