.cardsContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 50px;
  margin: 40px 80px;
  border-radius: 25px;
  background-color: #f6f6f6;
}

@media screen and (max-width: 1230px) {
  .cardsContainer {
    gap: 25px;
    padding: 25px 15px;
  }
}

@media screen and (max-width: 980px) {
  .cardsContainer {
    margin: 20px;
    padding: 0;
    background-color: #fff;
  }
}