* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 100%;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}