.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 80px;
  height: 230px;
  border-radius: 25px;
  background-position: 25% 50%;
  background-size: cover;
}

.bannerImage {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  display: block;
  filter: brightness(65%);
}

.bannerText {
  position: absolute;
  color: #fff;
  font-size: 45px;
  text-align: center;
  width: 90%;
  margin: 0;
}

h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 125px;
    margin: 20px;
  }

  .bannerText {
    top: 40%; // Ajuste le texte un peu plus haut pour mobile
    left: 10%; // Décale le texte vers la gauche
    transform: translate(0, -50%);
    font-size: 28px; // Réduit la taille du texte pour les petits écrans
    text-align: left; // Aligne le texte à gauche
    width: 80%; // Limite la largeur pour éviter que le texte déborde
    white-space: pre-line; // Respecte le saut de ligne après la virgule
  }

  h1 {
    font-size: 24px;
  }
}